@import url(/naver/base.css);

.login-input-group {
  --input-gap: 0.625rem;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--input-gap);

  .form-input {
    --font-size: 0.875rem;
    --input-height: 2.8125rem;
    --border-color: #dadada;
    --border-color-focused: #03cf5d;
    --bg-color: #fff;
    --bg-color-focused: #e9f0fd;

    display: flex;
    flex-flow: row wrap;

    input {
      flex-grow: 1;
      font-size: var(--font-size);
      height: var(--input-height);
      block-size: var(--input-height);
      line-height: var(--input-height);
      padding: 0 0.875rem;

      border: 1px solid var(--border-color);
      background: var(--bg-color);
    }
    input:focus {
      border-color: var(--border-color-focused);
      background: var(--bg-color-focused);
      outline: none;
    }
  }
}
