@import url(./card-component.css);

/* 카드 레이아웃 */
.main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.card-1 {
  background-image: image-set(
    url(../products/ipad_pro.jpeg) 1x,
    url(../products/ipad_pro_2x.jpeg) 2x
  );
}
.card-2 {
  background-image: image-set(
    url(../products/ipad_air.jpeg) 1x,
    url(../products/ipad_air_2x.jpeg) 2x
  );
}
.card-3 {
  background-image: image-set(
    url(../products/iphone15_pro.jpeg) 1x,
    url(../products/iphone15_pro_2x.jpeg) 2x
  );
}
.card-4 {
  background-image: image-set(
    url(../products/iphone15.jpeg) 1x,
    url(../products/iphone15_2x.jpeg) 2x
  );
}
.card-5 {
  background-image: image-set(
    url(../products/apple_watch.jpeg) 1x,
    url(../products/apple_watch_2x.jpeg) 2x
  );
}
.card-6 {
  background-image: image-set(
    url(../products/macbook_air.jpeg) 1x,
    url(../products/macbook_air_2x.jpeg) 2x
  );
}
.card-7 {
  background-image: image-set(
    url(../products/airpods_pro.jpeg) 1x,
    url(../products/airpods_pro_2x.jpeg) 2x
  );
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-1,
  .card-2,
  .card-3 {
    grid-column: span 2;
  }

  .card-1 {
    background-image: image-set(
      url(../products/ipad_pro_wide.jpeg) 1x,
      url(../products/ipad_pro_wide_2x.jpeg) 2x
    );
  }
  .card-2 {
    background-image: image-set(
      url(../products/ipad_air_wide.jpeg) 1x,
      url(../products/ipad_air_wide_2x.jpeg) 2x
    );
  }
  .card-3 {
    background-image: image-set(
      url(../products/iphone15_pro_wide.jpeg) 1x,
      url(../products/iphone15_pro_wide_2x.jpeg) 2x
    );
  }
}
