@import url(./base.css);
@import url(./reset.css);
@import url(./theme.css);
@import url(./button-component.css);

/* 카드 컴포넌트 공통 스타일 */
.card {
  /* 스타일 확인을 위한 임시 배경색 */
  background: purple;

  height: var(--size);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: var(--large-spacing);
  gap: var(--small-spacing);
  background-size: cover;
  background-position: 50% 50%;

  .card-title {
    font-size: var(--large-text);
    font-weight: 700;
  }
  .card-subtitle {
    font-size: var(--base-text);
    line-height: var(--line-normal);
    text-align: center;
  }

  .card-additional-text {
    font-size: var(--small-text);
    color: var(--gray);
  }

  .button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--base-spacing);
  }
}

/* 미디어 width 1024이상 */
@media (min-width: 1024px) {
  .card {
    padding-top: var(--extra-large-spacing);

    .card-title {
      font-size: var(--extra-large-text);
    }
    .card-subtitle {
      font-size: var(--medium-text);
    }
  }
}

/* 아래는 카드 컴포넌트의 두가지 타입 */
/* 리액트로 구현한다면 type이라는 prop을 통해 둘 중에서 선택 */

/* 검은 배경 카드 */
.card-black {
  color: var(--white);
}
/* 흰 배경 카드 */
.card-white {
  color: var(--black);
}
