:root {
  --avatar-image-size: 64px;
  --avatar-status-size: 16px;
}

.main {
  width: 336px;
  display: flow-root;
}

.avatar-wrapper {
  position: relative;
  width: var(--avatar-image-size);
  height: var(--avatar-image-size);
  float: left;
  margin: 10px;
}

.avatar-image {
  width: var(--avatar-image-size);
  height: var(--avatar-image-size);
  border-radius: 50%;
}

.avatar-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--avatar-status-size);
  height: var(--avatar-status-size);
  border-radius: 50%;
  border: 1px solid white;
}
.status-on {
  background-color: #4cfe88;
}
.status-off {
  background-color: #dbdbdb;
}

.status-span {
  visibility: hidden;
}

@supports (display: flex) {
  .main {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
  }
}
