:root {
  --avatar-image-size: 64px;
  --avatar-status-size: 16px;
}

.main-section {
  width: 336px;

  .avatars-list {
    list-style-type: none;
    display: flow-root;
  }
  .avatar-item {
    float: left;
  }
}

.avatar-wrapper {
  margin: 10px;
  width: var(--avatar-image-size);
  height: var(--avatar-image-size);
  position: relative;
}

.avatar-image {
  width: var(--avatar-image-size);
  height: var(--avatar-image-size);
  border-radius: 50%;
}

.avatar-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--avatar-status-size);
  height: var(--avatar-status-size);
  border-radius: 50%;
  border: 1px solid white;
}
.status-on {
  background-color: #4cfe88;
}
.status-off {
  background-color: #dbdbdb;
}

.status-span {
  visibility: hidden;
}

@supports (display: flex) {
  .main-section {
    .avatars-list {
      display: flex;
      flex-flow: row wrap-reverse;
      justify-content: space-between;
    }
    .avatar-item {
      float: none;
    }
  }
}
